

@media only screen and (max-width:820px){

    #logo img {
        height: 55px;
        margin-top: 10px;
        margin-left: 20px;
    }


    #name h1 {
        font-size: 25px;
        padding-top: 20px;
        padding-right: 10px;
        font-weight: normal;
        padding-right: 23px;
        transition: transform .28s;
    
    }

    #name h1:hover{
        transform: none;
        font-size: 25px;
    }


    #links ul {
        margin-top: 20px;
        margin-bottom: -6px;
        margin-left: 54px;
    }


    #allassignment h1{
        font-size: 18px;
        
        /* padding-top: 30px; */
        background-color: rgba(49, 25, 85, 0.979);
        height: 30px;
        text-align: center;
        padding-top: 6px;
    
    
    }

    /* *******************stop watch code ********************* */

    .bord{
        width: 80px !important;
        border-radius: 40px;
    
    }


    #tim{
        margin: 18px auto;
    }
    
    #tim h1{
        display: inline-block;
        font-size: 30px;
        /* width:0px; */
        font-family: 'Syne Mono', monospace;
        color: rgba(49, 25, 85, 0.979);
        /* border: 2px solid rgba(49, 25, 85, 0.979); */
        margin: 1px 1px;
        /* margin-left: 10px; */
    
        
    }

    
#head h1{
    font-size: 35px;
    text-shadow: 5px 1px 10px rgb(240, 238, 238);
    /* margin-top: 100px; */
    margin: 30px auto;
    padding: 7px;
    width: 300px;
    border: 3px solid rgba(49, 25, 85, 0.979);
    border-radius: 40px;

}

button{
    width: 150px;
    height: 40px;
    font-size: 21px;
    border-radius: 19px;
    margin: 5px;
    /* transition: .2; */

}

#data1{
    font-size: 33px;
    margin-left: 76px;
}

#data1{
    width: 100%;
    padding-left: 52px;
    margin: 0;
}















}